In [1]:
from sklearn.cluster import DBSCAN

In [2]:
import numpy as np
import pandas as pd

In [3]:
# data = pd.read_excel('Online Retail.xlsx')

In [4]:
# data.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
# data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
# data.drop(columns=['InvoiceNo', 'Description','InvoiceDate'],inplace=True)
data.head(5)/

  StockCode  Quantity  UnitPrice  CustomerID         Country
0    85123A         6       2.55     17850.0  United Kingdom
1     71053         6       3.39     17850.0  United Kingdom
2    84406B         8       2.75     17850.0  United Kingdom
3    84029G         6       3.39     17850.0  United Kingdom
4    84029E         6       3.39     17850.0  United Kingdom

In [7]:
# data['price']=data['UnitPrice'].values

In [8]:
# data.head(5)

  StockCode  Quantity  UnitPrice  CustomerID         Country  price
0    85123A         6       2.55     17850.0  United Kingdom   2.55
1     71053         6       3.39     17850.0  United Kingdom   3.39
2    84406B         8       2.75     17850.0  United Kingdom   2.75
3    84029G         6       3.39     17850.0  United Kingdom   3.39
4    84029E         6       3.39     17850.0  United Kingdom   3.39

In [9]:
# data.drop(columns=['UnitPrice'],inplace=True)
# data.head(5)

  StockCode  Quantity  CustomerID         Country  price
0    85123A         6     17850.0  United Kingdom   2.55
1     71053         6     17850.0  United Kingdom   3.39
2    84406B         8     17850.0  United Kingdom   2.75
3    84029G         6     17850.0  United Kingdom   3.39
4    84029E         6     17850.0  United Kingdom   3.39

In [10]:
# x=data.iloc[:,:-1].values
# y=data.iloc[:,4].values

In [45]:
data = pd.read_csv('S.csv', header = None)

In [46]:
data['values']=data.iloc[:,0].values
data.drop([0], axis=1)

data.columns

Index([0, 'values'], dtype='object')

In [47]:
df = data

In [63]:
# Create an empty list 

Row_list =[] 
  
# Iterate over each row 
for index, rows in df.iterrows(): 
    # Create list for the current row 
    my_list =[rows.index, rows.values] 
      
    # append the list to the final list 
    Row_list.append(my_list) 
  
# Print the list 
v=Row_list
v
np.fromstring(v, dtype = np.float)
# list_of_floats = []
# for item in v:
#     list_of_floats.append(float(item))
    
# list_of_floats

TypeError: a bytes-like object is required, not 'list'

In [35]:
# data['values'] = pd.to_numeric(data['values'], downcast="float")
# for col in data.columns:
#     data[col] = data[col].astype(float)

In [36]:
# pd.to_numeric(data, errors='coerce')
# pd.to_numeric(data, downcast='signed')
# pd.to_numeric(data, errors='ignore')

In [50]:
# x=data.iloc[:,0].values
# x=np.fromstring(x, dtype = np.float) 
# x

TypeError: a bytes-like object is required, not 'list'

In [37]:

dbscan=DBSCAN(eps=0.05, min_samples=5)

In [39]:
dbscan.fit(v)

ValueError: could not convert string to float: 'index'

ValueError: Expected 2D array, got 1D array instead:
array=[7.86830054e-316 4.26536832e-316 4.26536516e-316 4.26536200e-316
 4.26534619e-316 7.76030807e-316 7.40752149e-316 7.65190137e-316
 7.65190454e-316 7.65190770e-316 7.87029578e-316 7.87025151e-316
 7.87022622e-316 7.87022938e-316 7.87032740e-316].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [59]:
clustering = DBSCAN(eps=3, min_samples=2).fit(x)

ValueError: could not convert string to float: '604328 574379 '